.tabs {
  width: 100%;
  background-color: var(--tabs-bg);
  display: flex;
  overflow-x: auto;
}

.tabs a {
  text-decoration: none;
}

.tab {
  padding: 0.5rem 1.25rem;
  background: var(--tab-bg);
  color: #ececec;
  display: flex;
  align-items: center;
  border: 1px solid var(--tab-border);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.tab p {
  margin-left: 5px;
}

.tab .icon {
  height: 16px;
  width: 16px;
}
.active {
  border-top: 1px solid var(--accent-color);
  background: var(--tab-active-bg);
  border-bottom: none;
}

@media screen and (max-width: 900px) {
  /* .tabs {
    width: 78vw;
  } */
  .tab .icon {
    height: 14px;
    width: 14px;
  }
}

@media screen and (max-width: 600px) {
  /* .tabs {
    width: 89.5vw;
  } */
  .tab .icon {
    height: 12px;
    width: 12px;
  }
}
